{% extends "base.html" %}
{% block title %} Member Login {% endblock %}
{% block content %}
<body>
    <H1>Member Login</H1>

    <br>

    <form action="/login" method="POST">
        <label><b>
            Email
        </b></label>
        <input type="email" name="email" placeholder="Email" required oninvalid="this.setCustomValidity('This is not a valid email address')" oninput="this.setCustomValidity('')">
        <br>
        <label><b>
            Password
        </b></label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <a href="/create_member">Dont Have A Login?</a>
</body>
{% endblock %}