<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitnessGuru Login</title>
</head>
<body>
    <H1>Member Login</H1>

    <br>

    <form action="/login" method="POST">
        <label><b>
            Email
        </b></label>
        <input type="input" name="email" placeholder="Email">
        <br>
        <label><b>
            Password
        </b></label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <a href="/create_member">Dont Have A Login?</a>
</body>
</html>