{% extends "base.html" %}
{% block title %}Fitness Guru{% endblock %}
{% block content %}

{% if membership == None %}
<div class="memberships">
    <div class="silver_membership">
        <h1>Silver Membership</h1>
        <h3>Standard Membership</h3>
        <h3>24/7 Gym Access</h3>
        <h3>Customizable Benefits With Additional Payments</h3>
        <form action="/membership" method="POST">
            <input type="hidden" name="benefit-selected" id="None" value="None">
            <input type="hidden" name="Upgrade" id="Silver" value="Silver">
            <input type="submit" name="Upgrade Now" value="Upgrade Now">
        </form>

    </div>
    <div class="gold_membership">
        <h1>Gold Membership</h1>
        <h3>Premium Membership</h3>
        <h3>24/7 Gym Access</h3>
        <h3>All Benefits and Access Included</h3>
        <form action="/membership" method="POST">
            <input type="hidden" name="benefit-selected" id="None" value="None">
            <input type="hidden" name="Upgrade" id="Gold" value="Gold">
            <input type="submit" name="Upgrade Now" value="Upgrade Now">
        </form>
    </div>
</div>
{% else %}
    {% if membership.type == "Silver" %}
    <div>
        <h1>Silver Membership</h1>
        <h3>Standard Membership</h3>
        <h3>24/7 Gym Access</h3>
        <h1>Current Benefits</h1>
        {% if benefits != None %}
            <table>
                {% for benefit in benefits %}
                    <tr>
                        <th>{{ benefit }}</th>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
        <h3>No Additional Benefits</h3>
        {% endif %}
        <div class = "add-services-form-container">
            <form action="/membership" method="POST">
                <input type="hidden" name="Upgrade" id="None" value="None">
                <select class="select-from-all-benefits" name="benefit-selected" required>
                    {% for benefit in all_benefits %}
                        {% if benefit not in benefits %}
                            <option value="{{ benefit }}">{{ benefit }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit", value="Add Service">
            </form>
        </div>
    </div>
    {% elif membership.type == "Gold" %}
    <div>
        <h1>Gold Membership</h1>
        <h3>Premium Membership</h3>
        <h3>24/7 Gym Access</h3>
        <h1>Included Benefits</h1>
        {% if benefits != None %}
            <table>
                {% for benefit in benefits %}
                    <tr>
                        <td>{{ benefit }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
        <h3>No Additional Benefits</h3>
        {% endif %}
    </div>
    {% endif %}
{% endif %}

{% endblock %}