{% extends "base.html" %}
{% block title %}Fitness Guru{% endblock %}
{% block content %}

{% if membership == None %}
<div class="memberships">
    <div class="silver_membership">
        <h1>Silver Membership</h1>
        <h3>Standard Membership</h3>
        <h3>24/7 Gym Access</h3>
        <h3>Customizable Benefits With Additional Payments</h3>
        <button><a href="#">Upgrade Now</a></button>

    </div>
    <div class="gold_membership">
        <h1>Gold Membership</h1>
        <h3>Premium Membership</h3>
        <h3>24/7 Gym Access</h3>
        <h3>All Benefits and Access Included</h3>
        <button><a href="#">Upgrade Now</a></button>
    </div>
</div>
{% else %}
    {% if membership.type == "Silver" %}
    <div>
        <h1>Silver Membership</h1>
        <h3>Standard Membership</h3>
        <h3>24/7 Gym Access</h3>
        <h1>Current Scervices</h1>
        {% if services != None %}
            {% for service in services %}
            <table>
                <tr>
                    <td>{{ service.name }}</td>
                </tr>
            </table>
            {% endfor %}
        {% else %}
        <h3>No Additional Benefits</h3>
        {% endif %}
        <div class = "add-services-form-container">
            <form action="/membership" method="POST">
                <select class="select-from-all-benefits" name="benefit-selected" required>
                    <option value="">Select Benefit</option>
                    {% for benefit in all_benefits %}
                    <option value="{{ benefit }}">{{ benefit }}</option>
                    {% endfor %}
                </select>
                <input type="submit", value="Add Service">
            </form>
        </div>
    </div>
    {% elif membership.type == "Gold" %}
    <div>
        <h1>Gold Membership</h1>
        <h3>Premium Membership</h3>
        <h3>24/7 Gym Access</h3>
        <h1>Included Scervices</h1>
        {% if services != None %}
            {% for service in services %}
            <table>
                <tr>
                    <td>{{ service.name }}</td>
                </tr>
            </table>
            {% endfor %}
        {% else %}
        <h3>No Additional Benefits</h3>
        {% endif %}
    </div>
    {% endif %}
{% endif %}

{% endblock %}